---
import Dock from "../components/BrowserLayout/Dock.astro";
import BrowserLayout from "../layouts/BrowserLayout.astro";
// import MainLayout from "../layouts/MainLayout.astro";

---

<!-- <MainLayout title="Browser">
  <div class="bg-slate-300 text-black flex-1">
    Hello world
  </div>
</MainLayout> -->

<BrowserLayout>
  <!-- <Dock transition:name="dock" transition:persist slot="outer-main" /> -->
</BrowserLayout>
