---
import { Icon } from "astro-icon";
import { cn } from "../../lib/utils";
import IconsBar from "./ViewSwitcher.astro";

const sidebarIcons = [
  "files",
  "search",
  "source-control",
  "debug-alt",
  "extensions",
];
---

<div>
  <IconsBar />
</div>
