---
import { Icon } from "astro-icon";
import { cn } from "../../lib/utils";

const sidebarIcons = [
  "files",
  "search",
  "source-control",
  "debug-alt",
  "extensions",
  "account",
  "settings-gear",
];
---

<div
  class="flex h-full w-14 flex-col gap-2 border-r border-faint text-inactive-gray"
>
  {
    sidebarIcons.map((icon) => (
      <div
        class={cn(
          "cursor-pointer p-3 hover:text-white",
          icon === "files" && "border-l-2 border-primary-blue text-white",
          icon === "account" && "mt-auto",
        )}
      >
        <Icon name={icon} />
      </div>
    ))
  }
</div>
