---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;

const appleSlide = {
  forwards: {
    old: [
      {
        name: "appleSlideToLeft",
        duration: 750,
        easing: "cubic-bezier(.42,0,.25,.99)",
        fillMode: "both",
      },
    ],
    new: [
      {
        name: "appleSlideFromRight",
        duration: 750,
        easing: "cubic-bezier(.42,0,.25,.99)",
        fillMode: "both",
      },
    ],
  },
  backwards: {
    old: [
      {
        name: "appleSlideToRight",
      },
    ],
    new: [
      {
        name: "appleSlideFromLeft",
      },
    ],
  },
};

const duration = "0.5s";
const mySlide = {
  forwards: {
    old: {
      name: "slideToLeft",
      duration,
    },
    new: {
      name: "slideFromRight",
      duration,
    },
  },
  backwards: {
    old: {
      name: "slideToRight",
    },
    new: {
      name: "slideFromLeft",
    },
  },
};
---

<!doctype html>
<html lang="en" transition:animate={appleSlide}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My cool portfolio website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <!-- fixed -->
  <body class="bg-black">
    <main class="fixed flex h-screen w-screen font-sans text-stale">
      <slot />
    </main>
    <!-- <Dock transition:name='dock' /> -->
    <slot name="outer-main" />
  </body><style is:global>
    @keyframes appleSlideFromRight {
      from {
        transform: translateX(103%);
      }
    }

    @keyframes appleSlideFromLeft {
      from {
        transform: translateX(-103%);
      }
    }

    @keyframes appleSlideToRight {
      to {
        transform: translateX(103%);
      }
    }

    @keyframes appleSlideToLeft {
      to {
        transform: translateX(-103%);
      }
    }

    @keyframes slideToRight {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(100%);
      }
    }
    @keyframes slideFromLeft {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0%);
      }
    }
    @keyframes slideToLeft {
      from {
        transform: translateX(0%);
      }

      to {
        transform: translateX(-100%);
      }
    }

    @keyframes slideFromRight {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0%);
      }
    }
  </style>
</html>
